div#wrapper {
  max-width:1024px;
  overflow:hidden;
}

div#header, div#content-wrapper, div#footer {
  width: 100%;
}

.grid .tile {
  width:74%;
}
.grid aside.tile {
  width:23%;
  overflow:hidden;
  zoom:1;
}

