#wrapper {
  width:1000px;
}

.grid .tile {
  width:74%;
}
.grid aside.tile {
  width:23%;
  overflow:hidden;
  zoom:1;
}

div.nav {
  position: absolute;
  right: 14%;
  top: 1px;
  letter-spacing: 1px;
}

div#header, div#blog, div#footer {
  max-width: 1024px;
}