/* 
 *
 * base font size for 1em (16px)
 * is being fixed here.
 *
 * default font is BitterRegular
 * then sans-serif
 *
 * */
html, body, div, span, applet,
object, iframe, 
h1, h2, h3, h4, h5, h6, 
p, blockquote, 
pre, a, abbr, 
acronym, address, 
big, cite, code, 
del, dfn, em, 
img, ins, kbd, 
q, s, samp, small, 
strike, strong, sub, 
sup, tt, var, b, u, 
i, center, dl, dt, dd, ol, 
ul, li, fieldset, form, label,
legend, table, caption, tbody, 
tfoot, thead, tr, th, td, 
article, aside, canvas, details, 
embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, 
audio, video {
  font-family: BitterRegular, sans-serif;
  font-size:15px;
  line-height:1.31em;
  font-weight: normal;
}

div#content-wrapper div#blog-title h1, div#container div#blog-title h1 {
  font-size: 30px;
  font-family: "Arial Narrow",Arial;
}

div#wrapper div#content-wrapper div#main-content h2 {
  font-family: PTSansNarrowBold;
  font-size: 27px;
}

div#wrapper div#content-wrapper div#main-content h3 {
  font-family: PTSansNarrowBold;
  font-size: 25px;
}

div#wrapper div#content-wrapper div#main-content h4 {
  font-family: PTSansNarrowBold;
  font-size: 23px;
}

div#wrapper div#content-wrapper div#main-content h5 {
  font-family: PTSansNarrowBold;
  font-size: 21px;
}

div#wrapper div#content-wrapper div#main-content h6 {
  font-family: PTSansNarrowBold;
  font-size: 19px;
}

img {
  margin:0;
}

code, pre {
  font-family:courier;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #E28F56;
}

/*  Page Architecture */ 

div#wrapper {
  margin: 0px auto;
  padding-bottom: 40px;
}

div#wrapper div#header {
  width:100%;
  overflow: hidden;
}

div#header a.logo {
  width: 64%;
  float: left;
}

div#header ul#nav {
  overflow: hidden;
  margin: 0 auto;
  padding-left: 5.1%;
  padding-right: 0;
  padding-bottom: 5.8%;
  padding-top: 0;
  z-index: 9999;
  letter-spacing: 1px;
}

div#header ul#nav li {
  display: inline;
  float:left;
  margin:0 13px 0 0;
  padding: 22px 0 22px 0;
}

div#header ul#nav li a {
  display: block;
  width: inherit;
  font-size:14.5px;
  font-family: PTSansNarrowBold;
  text-decoration:none;
  text-transform:uppercase;
}

div#header ul#nav li a.active {
  height: 17px;
  border-bottom: 1px solid #7C3F09;
  color: #7C3F09;
}

div#wrapper div#content-wrapper {
  width: 90%;
  overflow: hidden; 
}

div#content-wrapper div#blog-title, div#container div#blog-title {
  width: 100%;
  overflow: hidden;
  padding-bottom: 2px;
}

div#content-wrapper hr {
  width: 100%;
  position: relative;
  right: 3px;
  clear: both;
  border: 0;
  border-top-width: 1px ;
  border-top-style: solid; 
  border-top-color: #eaeaea;
}

div#content-wrapper div#main-content {
  width: 62.59%;
  overflow: hidden;
  float: left;
  padding-top: 18px;
}

div#content-wrapper div#side-bar {
  width: 32%;
  overflow: hidden;
  padding-top: 22px;
}


div#content-wrapper div#side-bar h2 ,label{
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono";
  padding-bottom: 2.6%;
}


div#content-wrapper div#side-bar div#follow-links a{
  padding: 2px;
  margin: 0px;
}

div#follow-links {
  overflow: hidden;
}

div#content-wrapper div#side-bar div#ads {
  overflow: hidden;
  padding-top: 5%;
  display: none;
}

div#content-wrapper div#side-bar hr {
  width: 100%;
  right: 1px;
  top: 1px;
  position: relative;
  clear:both;
  border: 0;
  border-top-width: 1px ;
  border-top-style:solid; 
  border-top-color:#eaeaea;
}


/*Search Results page */
div#wrapper {
  max-width: 1024px;
  overflow: hidden;
  padding-left: 0.8%;
}

div#wrapper div#container{
  padding-left: 61px;
  overflow: hidden;
  width:90%;
}

div#wrapper div#container div#content .page-title {
  display: block;
  font-family: PTSansNarrowBold;
  font-size: 1.875em;
  padding-top: 0.7%;
}

div#wrapper div#container div#content .entry-content,.entry-content p   {
    line-height: 1.6;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

.entry li {
  line-height: 2;
}

.entry-meta
 {
  line-height: 1.6;
  margin-right: 3em;
  margin-bottom: 1em;
}

.entry-title {
  line-height: 1.6;
  margin-right: 2em;
}

div#wrapper div#container hr{
  width: 100%;
  right: 1px;
  top: 5px;
  position: relative;
  clear:both;
  border: 0;
  border-top-width: 1px ;
  border-top-style:solid; 
  border-top-color:#eaeaea;
  padding-bottom: 2.2%;
}

div#wrapper div#container .sidebar hr {
  width: 100%;
  right: 1px;
  top: 5px;
  position: relative;
  clear:both;
  border: 0;
  border-top-width: 1px ;
  border-top-style:solid; 
  border-top-color:#eaeaea;
  padding-bottom: 2%;
}

div#wrapper div#container h2 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono";
  padding-bottom: 2.6%;
}

div#wrapper div#container div#content div#nav-above, div#nav-below {
  padding-bottom: 2%;
}

div#wrapper div#container div#content {
  float: left;
  width: 61%;
  overflow:hidden;
  margin-right: 5%;
}



div#wrapper div#container div#content .entry-content p, .entry-title a{
  line-height: 1.6;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-top: 4%;
}


div#wrapper div#content-wrapper div#nav-below {
  padding-top: 2%;
}

div#wrapper div#container div#side-bar div#ads {
  display: none;
}
/*End of Search results page*/


/* End of div#wrapper */

div#footer {
  width: 100%;
}

div#footer div#footer-content {
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 73px;
  width: 100%;
}

div#footer div#footer-content div.footer-logo {
  background: url("../assets/footer/only-shadow.png") no-repeat scroll center center transparent;
  width: 100%;
  margin: 0;
  min-height: 73px;
  min-width:228px;
}

div#footer div#footer-content div.contact-info {
  width: 100%;
  padding-top: 15px;
  text-align: center;
}


div#footer div#footer-content div.contact-info ul li {
  padding: 5px 10px;
  color: #CDCDCD;
}

div#footer div#footer-content div.contact-info ul li span {
  padding-right: 0.5%;
  color: #888888;
}

div#footer div#footer-content div.footer-copyright {
  width: 100%;
  text-align: center;
  padding-top: 1%;
}

.copyright {
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: #888888;
}

