
/* Default */

body {
    margin: 0;
    background-image: url('assets/background.png');
    font-family:verdana, arial, helvetica, sans-serif;
    color: #666;
    font-size: 11px;
}

h1 {
    font-weight: bold;
    font-size: 16px;
    color: #66ccff;
    margin-top: 23px;
    margin-bottom: 18px;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    color: #66ccff;
    margin-bottom: 3px;
}

h3 {
    font-weight: bold;
    font-size: 12px;
    color: #66ccff;
}

h4 {
    font-weight: bold;
    font-size: 10px;
    color: #66ccff;
}

h5 {
    font-weight: bold;
    font-size: 8px;
    color: #66ccff;
}

h6 {
    font-weight: bold;
    font-size: 6px;
    color: #66ccff;
}

p {
    font-size: 11px;
    margin-top: 0;
}

a {
    color: #66ccff;
    font-size: 11px;   
}

pre {
    
}

/* Main content structure */

div#wrapper {
    width: 968px;
    padding: 0 36px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

div#header {
    background-image: url('assets/background-top-slice.png');
    background-repeat: no-repeat;
    height: 81px;
    width: 896px;
    padding: 37px 36px 0 36px;
}

div#side-bar {
    float: left;
    width:  264px;
    overflow: hidden;
}

div#main-content {
    float: right;
    width: 612px;
}

div#content-wrapper {
    width: 896px;
    overflow: hidden;
    padding: 0 36px;
    background-image: url('assets/background-middle-slice.png');
}

div#footer {
   width: 968px;
   height: 20px;
   background-image: url('assets/background-middle-slice.png');
}

div#footer-content {
    width: 612px;
    height: 20px;
    background: url('assets/footer/background.png') no-repeat;
    color: white;
    text-align: center;
    font-size: 14px;
    float: right;
    padding: 0 36px 0 0;
}

div#bottom-border-slice {
    background: url('assets/background-bottom-slice.png') no-repeat;
    width: 968px;
    height: 20px;
}

/* Header */

div#header > a > img {
    border: none; 
    width: 256px;
    height: 70px;
}

div#navigation {
    float: right;
    width: 612px;
    height: 42px;
    background-color: orange;
}

div#navigation ul {
    width: 612px;
    height: 42px;
    padding: 0;
    margin: 0;
}

div#navigation ul li {
    float: left;
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    height: 42px;
}

div#navigation ul li a {
    text-decoration: none;
    display: block;
    height: 42px;
}

/* Footer */

div#footer p {
    margin: 0;
    color: #fffde9; 
    line-height: 20px;    
}

/* Navigation Links */
/* This sucks but the images help with cross browser issues... */

div#navigation .home {
    width: 67px;
}

div#navigation .portfolio {
    width: 96px;
}

div#navigation .classes {
    width: 80px;
}

div#navigation .cross-training {
    width: 136px;
}

div#navigation .contact-us {
    width: 105px;
}

div#navigation .blog {
    width: 128px;
}

div#navigation ul li a.home {
    background:url('assets/header/home.png') 0 0;
}

div#navigation ul li a.home:hover {
    background:url('assets/header/home.png') 0 -42px;
}

div#navigation ul li a.portfolio {
    background:url('assets/header/portfolio.png') 0 0;
}

div#navigation ul li a.portfolio:hover {
    background:url('assets/header/portfolio.png') 0 -42px;
}

div#navigation ul li a.classes {
    background:url('assets/header/classes.png') 0 0;
}

div#navigation ul li a.classes:hover {
    background:url('assets/header/classes.png') 0 -42px;
}

div#navigation ul li a.cross-training {
    background:url('assets/header/cross-training.png') 0 0;
}

div#navigation ul li a.cross-training:hover {
    background:url('assets/header/cross-training.png') 0 -42px;
}

div#navigation ul li a.contact-us {
    background:url('assets/header/contact-us.png') 0 0;
}

div#navigation ul li a.contact-us:hover {
    background:url('assets/header/contact-us.png') 0 -42px;
}

div#navigation ul li a.blog {
    background:url('assets/header/blog.png') 0 0;
}

div#navigation ul li a.blog:hover {
    background:url('assets/header/blog.png') 0 -42px;
}


/* Side bar */

div#side-bar {
    width: 256px;
    padding-top: 60px;
    overflow: hidden;
}

div#side-bar a {
    color: #666;
    text-decoration: none;
    font-size: 10px;
}

/* Primary Sidebar */

div#primary ul {
    padding-left: 17px;
    margin: 0;
}

div#primary > ul {
    padding: 0;
}

div#primary > ul li {
    list-style-image: url('assets/sidebar/list_image.png');
    margin: 3px 0 0 17px;
}

div#primary > ul > li {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
}
div#primary > ul > li h2.widgettitle{
    margin-top:0;
}

div#secondary >ul >li > h2 {

}

/* Portfolio */

div#side-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#side-bar > div#primary > ul {
} 

div#side-bar ul.portfolio {
    width: 256px;
}

div#side-bar ul.portfolio li {
    list-style-type: none;
    height: 50px;
    margin-bottom: 10px;
}

div#side-bar ul.portfolio li a {
    background: no-repeat left center;
    font-weight: bold;
    font-size: 14px;
    height: 50px;
    padding-left: 60px;
    line-height: 50px;
    display: block;
    color: #66ccff;
}

div#side-bar ul.portfolio li:first-child {
    margin-left: 0;
}

div#side-bar ul.portfolio li a.jccsf {
    background-image: url('assets/sidebar/jccsf.png');
}

div#side-bar ul.portfolio li a.metalingual {
    background-image: url('assets/sidebar/metalingual.png');
}

div#side-bar ul.portfolio li a.mightysushi {
    background-image: url('assets/sidebar/mightysushi.png');
}

div#side-bar ul.portfolio li a.gaze {
    background-image: url('assets/sidebar/gaze.png');
}

div#side-bar ul.portfolio li a.peerpressure {
    background-image: url('assets/sidebar/peerpressure.png');
}

div#side-bar ul.portfolio li a.zigzagboard {
    background-image: url('assets/sidebar/zigzagboard.png');
}

div#side-bar ul.portfolio li a.captainrecruiter {
    background-image: url('assets/sidebar/captainrecruiter.png');
}

div#side-bar ul.portfolio li a:hover {
    color: #fcbd5c;
}

div#side-bar ul.portfolio li a.current {
    color: #fcbd5c;
}

div#side-bar div#tertiary ul.twitter {
    padding: 0;
    margin: 0;
}

div#side-bar div#tertiary ul.twitter li {
    background-image:url("assets/sidebar/twitter.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 35px;
    margin: 15px 0;
}

div#side-bar div#tertiary ul.twitter li:first-child {
    margin-top: 0;
}

div#side-bar div#tertiary ul.twitter li a {
    color: #6CF;
}

div#side-bar div#tertiary h2 {
    
} 

/* Blog */

h1.entry-title a {
    font-weight: bold;
    font-size: 16px;
    color: #66ccff;
    margin-top: 23px;
    margin-bottom: 18px;
}

div#main-content div.entry-content p > img {
    margin: 15px;
}