/* Default */

body {
    margin: 0;
    background-image: url('assets/background.png');
    font-family:verdana, arial, helvetica, sans-serif;
    color: #666;
    font-size: 11px;
}

h1 {
    font-weight: bold;
    font-size: 16px;
    color: #66ccff;
    margin-top: 23px;
    margin-bottom: 18px;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    color: #66ccff;
    margin-bottom: 3px;
}

h3 {
    font-weight: bold;
    font-size: 12px;
    color: #66ccff;
}

h4 {
    font-weight: bold;
    font-size: 10px;
    color: #66ccff;
}

h5 {
    font-weight: bold;
    font-size: 8px;
    color: #66ccff;
}

h6 {
    font-weight: bold;
    font-size: 6px;
    color: #66ccff;
}

p {
    font-size: 11px;
    margin-top: 0;
}

a {
    color: #66ccff;
    font-size: 11px;   
}

pre {
    
}

/* Main content structure */

div#wrapper {
    width: 968px;
    padding: 0 36px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

div#header {
    background-image: url('assets/background-top-slice.png');
    background-repeat: no-repeat;
    height: 81px;
    width: 896px;
    padding: 37px 36px 0 36px;
}

div#side-bar {
    float: left;
    width:  264px;
    overflow: hidden;
}

div#main-content {
    float: right;
    width: 612px;
}

div#content-wrapper {
    width: 896px;
    overflow: hidden;
    padding: 0 36px;
    background-image: url('assets/background-middle-slice.png');
}

div#footer {
    width: 612px;
    height: 20px;
    background: url('assets/footer/background.png') no-repeat;
    color: white;
    text-align: center;
    font-size: 14px;
}

div#bottom-border-slice {
    background: url('assets/background-bottom-slice.png') no-repeat;
    width: 968px;
    height: 20px;
}

/* Header */

div#header > a > img {
    border: none; 
}

div#navigation {
    float: right;
    width: 612px;
    height: 42px;
    background-color: orange;
}

div#navigation ul {
    width: 612px;
    height: 42px;
    padding: 0;
    margin: 0;
}

div#navigation ul li {
    float: left;
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    height: 42px;
}

div#navigation ul li a {
    text-decoration: none;
    display: block;
    height: 42px;
}

/* Footer */

div#footer p {
    margin: 0;
    color: #fffde9; 
    line-height: 20px;    
}

/* Navigation Links */
/* This sucks but the images help with cross browser issues... */

.home {
    width: 67px;
}

.portfolio {
    width: 96px;
}

.classes {
    width: 80px;
}

.cross-training {
    width: 136px;
}

.contact-us {
    width: 105px;
}

.blog {
    width: 128px;
}

div#navigation ul li a.home {
    background-image:url('assets/header/home-unselected.png');
}

div#navigation ul li a.home:hover {
    background-image:url('assets/header/home-selected.png');
}

div#navigation ul li a.portfolio {
    background-image:url('assets/header/portfolio-unselected.png');
}

div#navigation ul li a.portfolio:hover {
    background-image:url('assets/header/portfolio-selected.png');
}

div#navigation ul li a.classes {
    background-image:url('assets/header/classes-unselected.png');
}

div#navigation ul li a.classes:hover {
    background-image:url('assets/header/classes-selected.png');
}

div#navigation ul li a.cross-training {
    background-image:url('assets/header/cross-training-unselected.png');
}

div#navigation ul li a.cross-training:hover {
    background-image:url('assets/header/cross-training-selected.png');
}

div#navigation ul li a.contact-us {
    background-image:url('assets/header/contact-us-unselected.png');
}

div#navigation ul li a.contact-us:hover {
    background-image:url('assets/header/contact-us-selected.png');
}

div#navigation ul li a.blog {
    background-image:url('assets/header/blog-unselected.png');
}

div#navigation ul li a.blog:hover {
    background-image:url('assets/header/blog-selected.png');
}


/* Side bar */

div#side-bar {
    width: 256px;
    overflow: hidden;
}

div#side-bar a {
    color: #666;
    text-decoration: none;
    font-size: 10px;
}

/* Primary */

div#primary {
    margin-top: 60px;
}

div#primary ul {
    padding-left: 17px;
    margin: 0;
}

div#primary > ul {
    padding: 0;
}

div#primary > ul li{
    list-style-image: url('assets/sidebar/list_image.png');
    margin: 3px 0;
}

div#primary > ul > li {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
}

div#primary > ul > li > h2 {
    padding-left: 17px;
}

/* Tag Cloud */

li#tag_cloud-3 > div {
    margin-left: 17px;
}