
/* Default */

body {
    margin: 0;
    background-image: url('assets/background.png');
    font-family:verdana, arial, helvetica, sans-serif;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 20px;
}

h2 {
    font-weight: bold;
    font-size: 18px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
}

h4 {
    font-weight: bold;
    font-size: 12px;
}

h5 {
    font-weight: bold;
    font-size: 8px;
}

h6 {
    font-weight: bold;
    font-size: 6px;
}

p {
    font-size: 12px;
    margin-top: 0;
    font-weight: normal;
}

a {
    color: #000000;
    font-size: 12px;   
}

pre {
    width: 612px;
    word-wrap: break-word;
}

ol {
    font-weight: normal;
}

ul {
    font-weight: normal;
}

div {
    font-weight: normal;
}

/* firefox fix for images with borders */
a img {
    border: none;
}

/* Main content structure */

div#wrapper {
    width: 968px;
    padding: 0 36px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

div#header {
    /*background-image: url('assets/background-top-slice.png');*/
    background-repeat: no-repeat;
    height: 81px;
    width: 896px;
    padding: 37px 36px 0 36px;
}

div#side-bar {
    float: left;
    width:  264px;
    overflow: hidden;
}

div#main-content {
    float: right;
    width: 612px;
}

div#content-wrapper {
    width: 896px;
    overflow: hidden;
    padding: 0 36px;
    padding-top: 15px;
    /*background-image: url('assets/background-middle-slice.png');*/
}

div#footer {
   width: 968px;
   height: 20px;
   padding: 16px 0;
   /*background-image: url('assets/background-middle-slice.png');*/
}

div#footer a {
   text-decoration: none;
}

div#footer-content {
    width: 896px;
    height: 20px;
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 0 36px;
    padding: 5px 0;
}

div#bottom-border-slice {
    /*background: url('assets/background-bottom-slice.png') no-repeat;*/
    width: 968px;
    height: 20px;
}

/* Header */

div#header > a > img {
    border: none; 
    width: 256px;
    height: 70px;
}

div#navigation {
    float: right;
    width: 612px;
    height: 42px;
    background-color: orange;
}

div#navigation ul {
    width: 612px;
    height: 42px;
    padding: 0;
    margin: 0;
}

div#navigation ul li {
    float: left;
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    height: 42px;
}

div#navigation ul li a {
    text-decoration: none;
    display: block;
    height: 42px;
}

/* Footer */

div#footer p {
    margin: 0;
    line-height: 20px;    
}

/* Navigation Links */
/* This sucks but the images help with cross browser issues... */

div#navigation .home {
    width: 67px;
}

div#navigation .portfolio {
    width: 96px;
}

div#navigation .classes {
    width: 80px;
}

div#navigation .cross-training {
    width: 136px;
}

div#navigation .contact-us {
    width: 105px;
}

div#navigation .blog {
    width: 128px;
}

div#navigation ul li a.home {
    background:url('assets/header/home.png') 0 0;
}

div#navigation ul li a.home:hover {
    background:url('assets/header/home.png') 0 -42px;
}

div#navigation ul li a.portfolio {
    background:url('assets/header/portfolio.png') 0 0;
}

div#navigation ul li a.portfolio:hover {
    background:url('assets/header/portfolio.png') 0 -42px;
}

div#navigation ul li a.classes {
    background:url('assets/header/classes.png') 0 0;
}

div#navigation ul li a.classes:hover {
    background:url('assets/header/classes.png') 0 -42px;
}

div#navigation ul li a.cross-training {
    background:url('assets/header/cross-training.png') 0 0;
}

div#navigation ul li a.cross-training:hover {
    background:url('assets/header/cross-training.png') 0 -42px;
}

div#navigation ul li a.contact-us {
    background:url('assets/header/contact-us.png') 0 0;
}

div#navigation ul li a.contact-us:hover {
    background:url('assets/header/contact-us.png') 0 -42px;
}

div#navigation ul li a.blog {
    background:url('assets/header/blog.png') 0 0;
}

div#navigation ul li a.blog:hover {
    background:url('assets/header/blog.png') 0 -42px;
}


/* Side bar */

div#side-bar {
    width: 256px;
    padding-top: 31px;
    overflow: hidden;
}

div#side-bar a {
    color: #666;
    text-decoration: none;
    font-size: 10px;
}

/* Primary Sidebar */

div#primary ul, div#secondary ul {
    padding-left: 0;
    margin: 0;
}

div#primary > ul, div#secondary > ul {
    padding: 0;
}

div#primary > ul li {
    list-style-image: url('assets/sidebar/list_image.png');
    margin: 3px 0 0 17px;
}

div#primary > ul > li, div#secondary > ul > li {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
}
div#primary > ul > li h2.widgettitle, div#secondary > ul > li h2.widgettitle{
    margin-top:0;
}

div#secondary > ul  {
    margin-top: 10px;
}

/* Infinite Carousel */
 div#infinite_carousel {
     overflow: hidden;
     height: 303px;
 }
 
 div#infinite_carousel ul {
     overflow: hidden;
     height: 303px;
 }
 
 div#infinite_carousel ul li a img {
     border: none;
 }
 
 /* home page */
 
 ul#home-content {
     width: 896px;
     height: 200px;
     margin: 16px 0 0 0;
     padding: 0;
     list-style-type: none;
     background: url('assets/home-slice.png') no-repeat;
 }
 
 ul#home-content h1 {
     margin: 10px 0 6px 0;
 }
 
 ul#home-content ul {
     padding: 0;
     list-style-type: none;
 }
 
ul#home-content > li {
     width: 33.3333%;
     min-height: 200px;
     display: block;
     overflow: hidden;
     float: left;
 }
 
 ul#home-content li#twitter {
    padding: 0;
    margin: 0;
}

ul#home-content li#twitter li {
    background-image:url("assets/twitter-icon.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin: 15px 0;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: normal;
}

ul#home-content li#twitter li:first-child {
    margin-top: 0;
    padding-top: 0;
}

ul#home-content li#twitter li a {
    color: #000000;
    font-size:12px;
}

ul#home-content li#recent-posts ul li {
    background: url('assets/sidebar/list_image.png') no-repeat left center;
    padding: 4px 20px 4px 15px;
}

ul#home-content li#recent-posts a {
    color: #8AC974;
    font-size: 12px;
    text-decoration: none;
}

/* Portfolio */

div#portfolio {
    width: 896px;
    overflow: hidden;
}

div#portfolio ul {
    list-style-type: none;
    padding: 0;
}

div#portfolio ul li {
    margin: 10px 0;
    padding: 20px 30px;
    width: 836px;
    overflow: hidden;
    background: url('assets/home-slice.png') no-repeat bottom center;
}

div#portfolio ul li:last-child {
    background: none;
    padding-bottom: 0px;
}

div#portfolio ul li p {
    width: 418px;
}

div#portfolio ul li.left > div {
    float: left;
    width: 418px;
}

div#portfolio ul li.right > div {
    float: right;
    width: 418px;
}

div#portfolio ul li h1 {
    float: left;
    width: 418px;
    margin: 0 0 5px 0;
}

div#portfolio ul li img {
    vertical-align: top;
}

div#portfolio ul li.right img {
    float: left;
}

div#portfolio ul li.left img {
    float: right;
}

/* Blog */

h1.entry-title a {
    font-weight: bold;
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: 18px;
}

h2.entry-title {
  font-size: 18px;
}

div#main-content div.entry-content p > img {
    margin: 15px;
}
