/* blog */
body {
  background: url('assets/wheat.png');
  color:rgb(50,50,50);
  width:100%;
  margin-top:0;
}

div#footer {
  background: url('assets/stone.png');
}

body #content-wrapper {
  padding-left: 6%;
  overflow:hidden;
}

.introduction h1 {
  font-family: PTSansNarrowRegular;
  font-size:1.75em
}

.entry .content ul {
  list-style: disc inside none;
}

.entry .content , .entry p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.6;
}


.entry img {
  margin: 5% 0%;
  width: 100%;
  overflow: hidden;
}

.entry li {
  margin-left:0.25em
}

.entry .meta * {
  font-size: 14px;
}

#searchform #s{
  font-size: 15px;
  height: 25px;
  width: 65%;
  float: left;
  margin-bottom: 12%;
}

#searchform input.button {
  float: left;
  position:relative;
  background: url("assets/sidebar/search-button.png") 0 0 no-repeat;
  height: 33px;
  width: 35px;
  border: none;
  margin-left: -3%;
  top: -1px;
}

#searchform input.button:hover {
  background-position: 0 -36px;
}

#searchform input.button:active {
  background-position: 0 -71px;
}


.ctc a,
.widget_recent_entries a,
.entry .title {
  font-family: PTSansNarrowBold;
  display:block;
  font-size:1.875em;
  text-decoration:none;
}

.ctc a ,
.widget_recent_entries a {
  font-size:1.1875em;
  font-weight:none;
}

.widget_recent_entries a {
  margin-top:1em;
  margin-bottom:1em;
}

.ctc .widgettitle {
  margin-bottom:1em;
}

.tagcloud {
  margin-top: 5%;
}

.tagcloud a{
  display: block;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  line-height: 1.6;
}

.entry .meta {
  margin-top:-0.5em;
  font-weight:bold;
  margin-bottom: 3%;
}

code, pre {
  font-family:courier;
}

nav.archives {
  margin-top:2em;
  margin-bottom:1.5em;
}
nav.archives a {
  font-size:1.5em;
}


@media screen and (max-width: 320px) {
  #searchform #s{
    width: 60%;
  }
}